a {
    color: #fff;
    font-style: normal;
    font-weight: normal;
}
h2 {
    color: #BDAE82;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    margin: 0;
    background-color: #000;
}
h3 {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    margin: 100px 20px 0 20px;
}
p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF
}
.body {
    display: flex;
    max-width: 1440px;
    background-color: #000;
    flex-direction: column;
}

.header {
    display:flex;
    max-width: 1440px;
    height: 90px;
    background: url('./assents/img/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
}
.header-logo {
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;  
    transition: 0.3s;
    max-width: 50px;
    margin-left: 20px;
}
.header-logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
  }
.nav {
    display: flex;
    flex: 1 1 auto;
}
.nav-list {
    margin: auto 0 auto 800px;
    margin-left: auto;

}
.nav-link {
    display: inline;
    list-style: none;
    margin-left: auto;
    transition: .3s;
    padding: 0 20px;
    line-height: 20px;
    text-decoration: none;
    font-size: 20px;
    line-height: 50px;
    font-family: Inter;
}
.language {
    display: flex;
    margin: auto 0;
    text-decoration: none;
    font-size: 20px;
    line-height: 50px;
    font-family: Inter;
}
.main {
    display: flex;
    max-width: 1440px;
    flex-direction: column;
}
.hero {
    display: flex;
    max-width: 1440px;
    height: 820px;
    background: url('./assents/img/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: center -90px;
    flex-direction: column;
}

.hero-container {
    display: flex;
    flex-direction: column;
    height: 330px;
    width: 500px;
    line-height: 120px;
    padding-top: 160px;
    padding-left: 80px;
    font-size: 60px;

}
.hero-title {
    display: flex;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0;
    }
.hero-text {
    display: flex;
    color: #fff;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;  
    padding-top: 10px;
    padding-right: 30px;
}
.hero-button {
    background-color: #BDAE82;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;  
    width: 220px;
    height: 55px;
    text-align: center;
    border: 0px;
    cursor: pointer;

}
.skills {
    display: flex;
    flex-direction: column;
    height: 482px;
    width: 1440px;
}
.skills-title{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    height: 80px;
    margin-left: 25%;
    margin-right: 25%;
    background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
}
.skills-item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;

}    
.skill-item {
    display: flex;
    flex-direction: column;
    background-position: center top;
    background-repeat: no-repeat;
    height: 240px;
    width: 320px;
  }

.skill-text {
    display: flex;
    height: 72px;
    width: 280px;
    margin: 20px 20px 8px 20px;
}

.skill-item:nth-child(1) {
    background-image: url('./assents/svg/camera.svg');
    background-size: 62px 50px;
}
.skill-item:nth-child(2) {
    background-image: url('./assents/svg/video.svg');
    background-size: 62px 50px;
}
.skill-item:nth-child(3) {
    background-image: url('./assents/svg/image.svg');
    background-size: 62px 50px;
}
.skill-item:nth-child(4) {
    background-image: url('./assents/svg/mic.svg');
    background-size: 62px 50px;
}
.portfolio {
    display: flex;
    flex-direction: column;
    height: 1500px;
    width: 1440px;
}
.portfolio-title{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 60px;
    height: 80px;
    margin-left: 25%;
    margin-right: 25%;
    background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
}
.portfolio-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
    gap: 5px;
}
.portfolio-button {
    background-color: #000;
    border: 2px solid #BDAE82;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    color: #BDAE82;
    font-size: 20px;
    line-height: 40px;  
    width: 220px;
    height: 55px;
    text-align: center;
    cursor: pointer;
}
.portfolio-imgs{
    display: flex;
    flex-wrap: wrap;
    height: 1145px;
    width: 1400px;
    gap: 25px 25px;
    margin: 0 20px;
    }
.portfolio-img {
    display: flex;
    background-position: center top;
    background-repeat: no-repeat;
    height: 560px;
    width: 450px;
      }
.portfolio-img:nth-child(1) {
        background-image: url('./assents/img/portfolio-img.jpg');
}
.portfolio-img:nth-child(2) {
    background-image: url('./assents/img/portfolio-img\ \(1\).jpg');
}
.portfolio-img:nth-child(3) {
    background-image: url('./assents/img/portfolio-img\ \(2\).jpg');
}
.portfolio-img:nth-child(4) {
    background-image: url('./assents/img/portfolio-img\ \(3\).jpg');
}
.portfolio-img:nth-child(5) {
    background-image: url('./assents/img/portfolio-img\ \(4\).jpg');
}
.portfolio-img:nth-child(6) {
    background-image: url('./assents/img/portfolio-img\ \(5\).jpg');
}

.footer {
    display: flex;
    background-color: cornflowerblue;
}